{{#each nodes}}
  <script type="text/x-red" data-template-name="{{name}}">
    {{#each properties}}
      <div class="form-row">
        <label for="node-input-{{@key}}">
          <i class="fa fa-tag"></i> {{label}}
        </label>
        {{#inputProperty @key this}}
        {{/inputProperty}}
      </div>
    {{/each}}

    <div class="form-tips">
      {{#each tips}}
        {{this}}<br/>
      {{/each}}
    </div>
  </script>

  <script type="text/x-red" data-help-name="{{name}}">
    {{#each tooltips}}
      <p>{{this}}</p>
    {{/each}}
  </script>

  <script type="text/javascript">
    RED.nodes.registerType("{{name}}", {
      defaults: {
        {{#each properties}}
          {{@key}}: {
            {{#each attributes}}
              {{@key}}: {{{parseValue this}}}
              {{#unless @last}},{{/unless}}              
            {{/each}}
          }
          {{#unless @last}},{{/unless}}
        {{/each}}
        //TODO: validate
      },
      {{#each attributes}}
        {{@key}}: {{{parseValue this}}},
      {{/each}}
      label: function() {
        return this.name || "{{name}}"; 
      },
      labelStyle: function() {
        return this.name ? "node_label_italic" : "";
      }
    });
  </script>
{{/each}}