module.exports = function(RED) {
    "use strict";
    
    var i2cWrapper = require("../../src/nodes/i2cWrapper");

    {{#each nodes}}
      RED.nodes.registerType("{{name}}", function(config) {
        RED.nodes.createNode(this, config);
        var node = this;

        {{#ifEqual type "i2c"}}
          this.on("input", i2cWrapper.{{method}}(
            this,
            config,
            [{{params}}],
            {{valueOrNull transform}},
            {{{toJson topic}}}
          ));
        {{/ifEqual}}
        {{#ifEqual type "gpio"}}
          GPIOOOOOOOO
        {{/ifEqual}}
        
        this.on('close', function() {
            // tidy up any state
        });
      });
    {{/each}}
};